<nav class="navbar navbar-dark bg-inverse">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/signup">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/users/admin">admin</a>
        </li>
    </ul>
</nav>




<div class="container">
    <form action="/movie" method="post">
        <h2>Create A Movie</h2>
        <!--movie title-->
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input name="title" type="text" class="form-control" id="title" placeholder="Movie Title" required>
            </div>
        </div>
        <!--movie summery-->
        <div class="form-group row">
            <label for="summary" class="col-sm-2 col-form-label">Summery</label>
            <div class="col-sm-10">
                <textarea name="summary" rows="4" cols="50" class="form-control" id="summary" placeholder="summery" required></textarea>
            </div>
        </div>
        <!--photo preview-->
        <div class="row">
            <div class="col-sm-12">
                <img id="picture-url" src="/img/default.png" height="200px">
            </div>
        </div>
        <!--photo upload-->
        <div class="form-group row">
            <label for="cover" class="col-sm-2 col-form-label">Movie Poster</label>
            <div class="col-sm-10">
                <input name="coverURL" type="file" class="form-control" id="cover-input" placeholder="Movie poster image" required>
            </div>
        </div>
        <!--sumbmit button-->
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>

    </form>
</div>



<script type="application/javascript" src="/js/upload.js"></script>