<link rel="stylesheet" href="/css/home.css"/>
<nav class="navbar navbar-dark bg-inverse">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/signup">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/admin">admin</a>
        </li>
    </ul>
</nav>


<div class="container-fluid">
    <div class="search-container">
        <h1>Home</h1>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for a movie" aria-describedby="movieSearchBox" id="movie-search">
        </div>
    </div>
</div>

<div id="movie-list"></div>

<script src="/vendor/js/jquery-3.1.1.min.js"></script>
<script src="/vendor/js/tether.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/home.js"></script>


