<link rel="stylesheet" href="/css/home.css"/>
<!--navbar-->
<nav class="navbar navbar-dark bg-inverse navbar-border">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <a class="navbar-brand navbar-brand-color" href="/">Movie Rater</a>
        <div class="float-lg-right">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link-active" href="/">Home</a>
                </li>
                {{#if isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    {{#if isAdmin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/users/admin">admin</a>
                        </li>
                    {{/if}}
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/signup">Signup</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<!--search box-->
<div class="container-fluid search-box">
    <div class="search-container">
        <input type="text" class="form-control" placeholder="Search for a movie" aria-describedby="movieSearchBox"
               id="movie-search" autofocus="autofocus">
    </div>
</div>

<!--movie list and jumbotron-->
<div id="movie-list">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-xs-center jumbotron-h1">Welcome to <span>Movie Rater</span></h1>
            <h2 class="text-xs-center jumbotron-h2">The movie rating app for self-proclaimed critics</h2>
            <h3 class="text-xs-center jumbotron-h3">Search for a movie in the search bar above to get started!</h3>
            {{#unless isLoggedIn}}
                <div class="call-to-action">
                <span class="call-to-action-wrapper">
                    <p>Sign up now so you can review later!</p>
                <a class="btn btn-jumbotron" href="/users/signup">Signup</a>
                </span>
                </div>
            {{/unless}}
        </div>
    </div>

</div>

<script src="/vendor/js/jquery-3.1.1.min.js"></script>
<script src="/vendor/js/tether.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/home.js"></script>


